<meta charset="utf-8">
<title>{% if page.title %}{{ page.title }} ♥ {{ site.data.global.title }}{% elsif post.title %}{{ post.title }} ♥ {{ site.data.global.title }}{% else %}{{ site.data.global.title }} ♥ {{ site.data.global.description }}{% endif %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link href="https://fonts.googleapis.com/css?family=Squada+One&display=swap" rel="stylesheet">
<link rel="icon" type="image/x-icon" href="images/logo/logoSorako.ico">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/toggleQA.css">
<link rel="stylesheet" href="css/owl.carousel.min.css">
<link rel="stylesheet" href="css/hes-gallery.css"> 
<link rel="stylesheet" href="css/add/main.css"> 
<style type="text/css">
.card {
    width: 50px;
    height: 195px;
    background: url("images/logo/Instegram.png") no-repeat;
    display: inline-block;
}
.card:hover {
    background: url("images/logo/Instegram1.png") no-repeat;
}
.card1 {
    width: 50px;
    height: 195px;
    margin-left: 20px;
    background: url("images/logo/fb.png") no-repeat;
    display: inline-block;
}
.card1:hover {
    background: url("images/logo/fb1.png") no-repeat;
}
.gobi {
  /* The image used */
    color: #fff;
    padding: 60px;
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("images/gobi-header.jpg");
}
</style>